<footer class="bg-orange-500 py-4 text-white grid grid-cols-5 gap-10 p-10">
    <div >
        <h1 class="text-5xl font-extrabold text-white ">BIKE CARRIER</h1>
    </div>
    <div class="">
        <p class="my-2">Inicio</p>
        <p class="my-2">Como Funciona</p>
        <p class="my-2">Planes y tarifas</p>
      </div>
      <div class="">
        <p class="my-2">Termino y codiciones</p>
        <p class="my-2">Aviso de privacidad</p>
        <p class="my-2">Contacto</p>
        <p class="my-2">GitHub</p>
      </div>
      <div class="">
        <p class="my-2">9616454145</p>
        <p class="my-2">9622911713</p>
        <p class="my-2">9612475553</p>
<div class="my-10 flex flex-col">
    <a class="">Soy Usuario Registrado</a>
    <button class="my-2 mr-10 rounded-xl border-2 border-white">Registrate</button>
</div>
      </div>
      
  </footer>
  