<div class="m-10">

  <div class="bg-orange-500 rounded-2xl m-10">
    <div class="">
      <div class="flex  rounded-b-3xl bg-gray-100 space-y-5 flex-col items-center py-7">
       <h1 class="h-40 w-40 rounded-full bg-blue-600  text-8xl flex items-center justify-center ">{{userPhoto}}</h1>
        <a href="#"> <span class="text-2xl font-semibold">{{userData}}</span></a>
      </div>
    </div>
    <div class="grid grid-cols-3 text-center ">
      <div class=" p-10 text-white text-2xl ">
        <h2>4</h2>
        <h1 class="font-semibold">
          Ranking
        </h1>
      </div>
      <div class=" p-10 text-white text-2xl ">
        <h2>free</h2>
        <h1 class="font-semibold">
          Plan
        </h1>
      </div>
      <div class=" p-10 text-white text-2xl ">
        <h2>20</h2>
        <h1 class="font-semibold">
          Puntos
        </h1>
      </div> 
    </div>
  </div>
  <div class="flex">


    <div class="w-1/2 m-10">
      <div class="grid grid-cols-2 gap-4 text-center ">
        <div
          class="shadow-lg p-6 bg-white flex flex-col items-center justify-center  border border-orange-500 rounded-xl border-b-4 hover:border-orange-300">
          <a href="/user">
            <div class="w-40">

              <i class="fas fa-user fa-5x"></i>

            </div>
            <h1 class="text-2xl">Usuario</h1>
          </a>
        </div>



        <div
          class="shadow-lg p-6 bg-white flex flex-col items-center justify-center  border border-orange-500 rounded-xl border-b-4 hover:border-orange-300">
          <a href="/temperatura">
            <div class="w-40">
              <i class="fas fa-thermometer-half fa-5x"></i>

            </div>
            <h1 class="text-2xl">temperatura</h1>
          </a>
        </div>
        <div
          class="shadow-lg p-6 bg-white flex flex-col items-center justify-center  border border-orange-500 rounded-xl border-b-4 hover:border-orange-300">
          <a href="/notificaciones">
            <div class="w-40">
              <i class="fas fa-bell fa-5x"></i>


            </div>
            <h1 class="text-2xl">Notificaciones</h1>
          </a>
        </div>
        <div
          class="shadow-lg p-6 bg-white flex flex-col items-center justify-center  border border-orange-500 rounded-xl border-b-4 hover:border-orange-300">
          <a href="/historial">
            <div class="w-40">
              <i class="fas fa-history fa-5x"></i>


            </div>
            <h1 class="text-2xl">historial</h1>
          </a>
        </div>

      </div>
    </div>
    <div class="w-1/2 justify-center text-center flex flex-col  m-10">
      
      <div class="">
        <ngx-scanner-qrcode #action="scanner"(data)="handleData($event)" (error)="onError($event)"></ngx-scanner-qrcode>
        <p>{{output}}</p>
        @if(action.isLoading){
        <p>loading...</p>
        }
        
        <button (click)="action.isStart ? action.stop() : action.start()">{{action.isStart ? 'Stop' : 'Start'}}</button>
      </div>
    
    </div>


  </div>
</div>