<div class="m-10">

  <div class="bg-orange-500 rounded-2xl m-10">
    <div class="">
      <div class="flex  rounded-b-3xl bg-gray-100 space-y-5 flex-col items-center py-7">
       <h1 class="h-40 w-40 rounded-full bg-blue-600  text-8xl flex items-center justify-center ">{{userPhoto}}</h1>
        <a href="#"> <span class="text-2xl font-semibold">{{userData}}</span></a>
      </div>
    </div>
    <div class="grid grid-cols-3 text-center ">
      <div class=" p-10 text-white text-2xl ">
        @if(lugar){
          <h2>{{lugar}}</h2>
        }@else {
          <h2>Ninguno</h2>
        }
       
        <h1 class="font-semibold">
          Espacio
        </h1>
      </div>
      <div class=" p-10 text-white text-2xl ">
        <h2>{{tode.plan}}</h2>
        <h1 class="font-semibold">
          Plan
        </h1>
      </div>
      <div class="p-10 text-white text-2xl">
        <h2>{{fecha}}</h2>
        <h1 class="font-semibold">
          Tiempo
        </h1>
    </div>
    
    </div>
  </div>
  <div class="flex">


    <div class="w-1/2 m-10">
      <div class="grid grid-cols-2 gap-4 text-center ">
        <div
          class="shadow-lg p-6 bg-white flex flex-col items-center justify-center  border border-orange-500 rounded-xl border-b-4 hover:border-orange-300">
          <a href="/user">
            <div class="w-40">

              <i class="fas fa-user fa-5x"></i>

            </div>
            <h1 class="text-2xl">Usuario</h1>
          </a>
        </div>



        <div
          class="shadow-lg p-6 bg-white flex flex-col items-center justify-center  border border-orange-500 rounded-xl border-b-4 hover:border-orange-300">
          <a href="/temperatura">
            <div class="w-40">
              <i class="fas fa-thermometer-half fa-5x"></i>

            </div>
            <h1 class="text-2xl">temperatura</h1>
          </a>
        </div>
        <div
          class="shadow-lg p-6 bg-white flex flex-col items-center justify-center  border border-orange-500 rounded-xl border-b-4 hover:border-orange-300">
          <a href="/notificaciones">
            <div class="w-40">
              <i class="fas fa-bell fa-5x"></i>


            </div>
            <h1 class="text-2xl">Notificaciones</h1>
          </a>
        </div>
        <div
          class="shadow-lg p-6 bg-white flex flex-col items-center justify-center  border border-orange-500 rounded-xl border-b-4 hover:border-orange-300">
          
            <div class="w-40">
              @if(lugar){
                <button (click)="unLock()">
                  <i class="fas fa-unlock fa-5x"></i>
                </button>
          
              }@else{
                <button>
                  <i class="fas fa-ban fa-5x"></i>
                </button>
              }
              


            </div>
            <h1 class="text-2xl">desbloquear</h1>
       
        </div>

      </div>
    </div>
    <div class="w-1/2 justify-center text-center flex flex-col  m-10">
      
      <div class="">
        <ngx-scanner-qrcode #action="scanner" (event)="handleData($event,action)" (error)="onError($event)"></ngx-scanner-qrcode>
        
        @if(action.isLoading ){
        <p>loading...</p>
        }
        @if (output) {
          <h1>hola</h1>
        }
        
        <button class="m-5 p-2 border border-b-8 rounded-md border-orange-500 "  (click)="action.isStart ? action.stop() : action.start()">{{action.isStart ? 'Stop' : 'Start'}}</button>
      </div>
    
    </div>


  </div>
</div>