<div class="bg-gray-100 h-screen flex justify-center items-center">
 
  <div class="w-3/4">
    <div class="text-center">
      <h1 class="text-3xl font-bold text-gray-800 mb-6">Notificaciones</h1>
    </div>

    <!-- Temperatura -->
    <div class="mb-8">
      <div class="bg-white rounded-lg shadow-md p-6 mb-4">
        <h2 class="text-lg font-semibold text-gray-800 mb-2">Alerta de Temperatura</h2>
        <div class="flex items-center justify-between">
          <div class="flex items-center">
            <i class="fas fa-thermometer-half text-orange-500 text-3xl mr-3"></i>
            <div>
              <p class="text-gray-800 font-semibold">Ciudad: Suchiapa</p>
              <p class="text-gray-600">Hoy: 25°C (Máxima: 28°C / Mínima: 22°C)</p>
            </div>
          </div>
          <p class="text-gray-600">Hace 15 minutos</p>
        </div>
      </div>
    </div>

    <!-- Seguridad -->
    <div>
      <div class="bg-white rounded-lg shadow-md p-6">
        <h2 class="text-lg font-semibold text-gray-800 mb-2">Alerta de Seguridad</h2>
        <div class="flex items-center justify-between">
          <div class="flex items-center">
            <i class="fas fa-bicycle text-red-500 text-3xl mr-3"></i>
            <div>
              <p class="text-gray-800 font-semibold">¡Alerta de movimiento detectada!</p>
              <p class="text-gray-600">Alguien está intentando mover tu bicicleta.</p>
            </div>
          </div>
          <p class="text-gray-600">Hace 5 minutos</p>
        </div>
      </div>
    </div>
  </div>
</div>
