<app-navbar></app-navbar>
<div>
    <h1 class="text-3xl font-semibold m-20">Elige tu plan o tarifa</h1>
    <div class="grid grid-cols-4 gap-2 text-center m-20">
        <div class="bg-white flex flex-col items-center border-2 border-gray-200 m-10 rounded-2xl">
            <h1 class="text-orange-500 text-2xl p-4">1 DIA</h1>
            <div class="flex  ">
                <p class="text-5xl font-semibold text-gray-500 pr-2">$30 </p>
                <p class="my-3  ">MXN</p>
            </div>
            <p class="text-gray-500 p-2">(I.V.A Incluido)</p>
            <p class="p-5 text-gray-500 font-semibold text-xl">Estacionamiento ilimitado en un periodo de 24 horas</p>
            <button class="border border-orange-500 p-4 rounded-xl m-3 font-semibold text-orange-500  hover:bg-orange-400 hover:text-white" (click)="generatePDF()">Obtene tu plan</button>

        </div>
        <div class="bg-white flex flex-col items-center border-2 border-gray-200 m-10 rounded-2xl">
            <h1 class="text-orange-500 text-2xl p-4">1 SEMANA</h1>
            <div class="flex  ">
                <p class="text-5xl font-semibold text-gray-500 pr-2">$50 </p>
                <p class="my-3  ">MXN</p>
            </div>
            <p class="text-gray-500 p-2">(I.V.A Incluido)</p>
            <p class="p-5 text-gray-500 font-semibold text-xl">Estacionamiento ilimitado en un periodo de 1 semana</p>
            <button class="border border-orange-500 p-4 rounded-xl m-3 font-semibold text-orange-500 hover:bg-orange-400 hover:text-white">Obtene tu plan</button>

        </div>
        <div class="bg-white flex flex-col items-center border-2 border-gray-200 m-10 rounded-2xl">
            <h1 class="text-orange-500 text-2xl p-4">1 MES</h1>
            <div class="flex  ">
                <p class="text-5xl font-semibold text-gray-500 pr-2">$150 </p>
                <p class="my-3  ">MXN</p>
            </div>
            <p class="text-gray-500 p-2">(I.V.A Incluido)</p>
            <p class="p-5 text-gray-500 font-semibold text-xl">Estacionamiento ilimitado en un periodo de 1 semana</p>
            <button class="border border-orange-500 p-4 rounded-xl m-3 font-semibold text-orange-500  hover:bg-orange-400 hover:text-white">Obtene tu plan</button>

        </div>
        <div class="bg-white flex flex-col items-center border-2 border-gray-200 m-10 rounded-2xl">
            <h1 class="text-orange-500 text-2xl p-4">1 AÑO</h1>
            <div class="flex  ">
                <p class="text-5xl font-semibold text-gray-500 pr-2">$400 </p>
                <p class="my-3  ">MXN</p>
            </div>
            <p class="text-gray-500 p-2">(I.V.A Incluido)</p>
            <p class="p-5 text-gray-500 font-semibold text-xl">Estacionamiento ilimitado en un periodo de 1 año</p>
            <button class="border border-orange-500 p-4 rounded-xl m-3 font-semibold text-orange-500  hover:bg-orange-400 hover:text-white">Obtene tu plan</button>

        </div>
    </div>
</div>
<app-footer></app-footer>