<div class="min-h-screen flex items-center justify-center bg-gradient-to-br from-orange-200 to-orange-600 bg-opacity-75 shadow-lg rounded-lg p-8 py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-10 p-5 bg-white rounded-lg">
      <div>
        <h2 class="mt-6 text-center text-3xl font-extrabold text-orange-800">
          Registro
        </h2>
      </div>
      <form [formGroup]="userForm" (ngSubmit)="OnSubmit($event)" class="mt-8 space-y-6" autocomplete="off" novalidate >
        <input type="hidden" name="remember" value="true">
        <div class="rounded-md shadow-sm -space-y-px">
          <div class="p-2 flex">
            <label for="nombre" class="sr-only">Nombre</label>
            <input id="nombre"  type="text" 
              class="appearance-none rounded-none relative block w-full px-3 py-2 border-b-2 border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm"
              placeholder="Nombre"
              formControlName="nombre"
              >
              <i class="fas fa-user text-orange-500 opacity-75  fa-2x"></i>


             
          </div>
          @if (userForm.get('nombre')?.hasError('required') && userForm.get('nombre')?.touched){
            <div class="text-red-500 p-2">
              name is required
             </div>
          }
          
       
          <div class="p-2 flex">
            <label for="apellidoP" class="sr-only">Apellido Paterno</label>
            <input id="apellidoP"  type="text" autocomplete="username" required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border-b-2 border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm"
              placeholder="Apellido Paterno"
              formControlName="apellidoP"
              >
              <i class="fas fa-id-card  text-orange-500 opacity-75  fa-2x"></i>
             
              
          </div>
          @if (userForm.get('apellidoP')?.hasError('required') && userForm.get('apellidoP')?.touched){
            <div class="text-red-500">
              apellido is required
             </div>
          }
          <div class="p-2 flex">
            <label for="apellidoM" class="sr-only">Apellido Materno</label>
            <input id="apellidoM" type="text" autocomplete="apellidoM" required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border-b-2 border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm"
              placeholder="Apellido Materno"
              formControlName="apellidoM"
              >
              <i class="fas fa-id-card  text-orange-500 opacity-75  fa-2x"></i>

          
          </div>
          @if (userForm.get('apellidoM')?.hasError('required') && userForm.get('apellidoM')?.touched){
            <div class="text-red-500 p-2">
              apellido is required
             </div>
          }
          
          <div class="p-2 flex">
            <label for="email-address" class="sr-only">Correo electrónico</label>
            <input id="email" type="email" autocomplete="email" required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border-b-2 border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm"
              placeholder="Correo electrónico"
              formControlName="email"
              >
              <i class="fas fa-envelope text-orange-500 opacity-75 fa-2x"></i>


            </div>
            @if (userForm.get('email')?.hasError('required') && userForm.get('email')?.touched){
            <div class="text-red-500">
                email is required
               </div>
            }
          <div class="p-2 flex">
            <label for="username" class="sr-only">Nombre de usuario</label>
            <input id="username" name="username" type="text" autocomplete="username" required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border-b-2 border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm"
              placeholder="Nombre de usuario"
              formControlName="username"
              >
              <i class="fas fa-user  text-orange-500 opacity-75  fa-2x"></i>

            </div>
            @if (userForm.get('username')?.hasError('required') && userForm.get('username')?.touched){
              <div class="text-red-500">
                Username is required
               </div>
            }
          <div class="p-2 flex" >
            <label for="password" class="sr-only">Contraseña</label>
            <input id="password" name="password" type="password" autocomplete="new-password" required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border-b-2 border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm"
              placeholder="Contraseña"
              formControlName="password"
              >
              <i class="fas fa-lock  text-orange-500 opacity-75  fa-2x"></i>

            </div>
            @if (userForm.get('password')?.hasError('required') && userForm.get('password')?.touched){
              <div class="text-red-500">
                password is required
               </div>
            }
          </div>
  
        <div>
          <button type="submit"
    
            class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-orange-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
           
               />
             
            Registrarse
          </button>
        </div>
      </form>
    </div>
  </div>
  